<div class="footer-divider"></div>
<div class="footer fade-in-container-a">
        <div class="footer-left">
                <h2 class="footer-brand">Maple Glow Car Detailing</h2>
        </div>

        <div class="footer-right">
                <p>Call us at 888-888-8888</p>
                <p>Some exclusions apply.</p>
                <p>Copyright &copy; 2024 Maple Glow Inc. All rights reserved.</p>
        </div>
</div>