<link rel="stylesheet" href="styles.css">
<hr>
<div class="footer fade-in-container-a">
        <div>
                <h1>Maple Glow Car Detailing</h1>
                <div>
                        <a href="https://www.instagram.com/mapleglowdetailing/" target="_blank"><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png"
                                        class="footer-img"></a>
                        <a href="https://www.youtube.com/" target="_blank"><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/YouTube_social_white_squircle.svg/480px-YouTube_social_white_squircle.svg.png"
                                        class="footer-img"></a>
                        <a href="https://www.tiktok.com/" target="_blank"><img
                                        src="https://static-00.iconduck.com/assets.00/tiktok-icon-1890x2048-ihin0vop.png"
                                        class="footer-img"></a>
                </div>
        </div>

        <div class="footer-right">
                <p>Call us at 888-888-8888</p>
                <p>Some exclusions apply.</p>
                <p>Copyright © 2024 Maple Glow Inc. All rights reserved.</p>
        </div>
</div>