<!DOCTYPE html>

<head>
  <%- include('layouts/navbar'); -%>
    <title>Contact Us</title>
    <script src="/js/contact.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="fade-in-container">
    <h1 class="title">Contact Us</h1>

    <div class="contact-container">
      <div class="story-section">
        <div class="story-grid-title">
          <h2>Our Story</h2>
        </div>

        <div class="story-content">
          <div class="founder-images">
            <div class="founder">
              <img src="/images/owen.png" alt="Owen" class="founder-portrait">
              <p class="founder-name">Owen</p>
            </div>
            <div class="founder">
              <img src="/images/wiam.png" alt="Liam" class="founder-portrait">
              <p class="founder-name">Liam</p>
            </div>
          </div>
          <p>Owen and Liam, two university students, stumbled upon an idea during a gym session: a car cleaning service.
            Undeterred, we refined our technique.
          </p>
          <p>
            From those early mishaps, our venture evolved. What started as a cleaning service expanded to include
            interior detailing and mobile car cleaning. Our story is one of resilience, growth, and turning challenges
            into opportunities. Welcome to the journey where innovation meets determination.
          </p>
          <p>
            What began as a modest venture transcended into a full-fledged business. The duo's dedication expanded their
            services, encompassing interior detailing and introducing the convenience of mobile car cleaning. The road
            to success, marked by trial and error, became a testament to their resilience and unwavering spirit.
          </p>

          <p>
            Encompassing interior detailing and introducing the convenience of mobile car cleaning. The road to success,
            marked by trial and error, became a testament to their resilience and unwavering spirit.
          </p>
        </div>
      </div>

      <div class="form-section">
        <div class="form-grid-title">
          <h2>Have any questions? Submit this form</h2>
        </div>

        <div class="form-wrapper">
          <form class="contact-form" id="contact-form" action="/contact-form" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class="input-box form-input-box" name="subject" id="subject" placeholder="Subject" required>
            <br><br>
            <input class="input-box form-input-box" name="email" id="email" placeholder="E-mail" required>
            <br><br>
            <textarea name="message" id="text" class="input-box form-input" placeholder="Message" required></textarea>
            <br><br>
            <button class="contact-form-submit-button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <footer>
    <%- include('layouts/footer'); -%>
  </footer>
</body>

</html>