<!DOCTYPE html>

<head>
    <%- include('layouts/navbar'); -%>
        <title>Estimate</title>
</head>

<!-- AI Model implemented from Teachable Machine: https://teachablemachine.withgoogle.com/ -->

<body>
    <div class="fade-in-container">
        <h1 class="title">Get an Estimate for a Detail.</h1>

        <div class="estimate-page-grid">

            <div id="upload-image-container" class="upload-image-container">
                <div id="containerDiv" class="img-upload-div" style="position: relative;">
                    <button id="invisibleButton" onclick="handleButtonClick()" disabled></button>
                    <label id="imgLabel" for="img" class="custom-file-upload">Upload</label>
                    <img id="uploadedImage" class="uploadImg" src="" alt="Uploaded Image"> <br><br><br>
                </div>
                <br><br>
                <div class="hidden-label" id="label-container">Introducing our advanced custom-trained AI model! Imagine
                    a world where your
                    car gets the attention it deserves effortlessly. Our cutting-edge technology is designed to
                    recognize your vehicle and provide you with a personalized estimate for detailing costs. Powered by
                    state-of-the-art algorithms, our AI ensures accuracy and efficiency, giving you the peace of mind
                    you deserve.</div>

                <br>

                <p style="text-align: center;">*Disclamer: prices are subject to change and provide only a rough
                    estimate. Please contact us for more information</p>

                <form action="/action_page.php">
                    <input type="file" id="img" name="img" accept="image/*" onchange="loadFile(event)"
                        style="display: none;">
                </form>
            </div>

            <div id="big-grid" hidden>

                <div class="options-grid-container">

                    <div class="options-grid hidden-option">
                        <button class="button-option" onclick="redirectBooking(1)">
                            <h1>Interior</h1>
                            <p class="button-option-text">Elevate your ride's interior with our Detailing service.
                                We'll
                                clean, vacuum, and restore, keeping it straightforward and effective.</p>
                            <h2 id="p1"></h2>
                        </button>
                    </div>

                    <div class="options-grid hidden-option">
                        <button class="button-option" onclick="redirectBooking(2)">
                            <h1>Exterior</h1>
                            <p class="button-option-text">Boost your car's street appeal with our Exterior
                                Detailing. A
                                simple wash, wax, and buff to make it shine without unnecessary frills.</p>
                            <h2 id="p2"></h2>
                        </button>
                    </div>

                    <div class="options-grid hidden-option">
                        <button class="button-option" onclick="redirectBooking(3)">
                            <h1>Full Package</h1>
                            <p class="button-option-text">Give your vehicle an all-around refresh with our Full
                                Detailing. No fluff, just a thorough inside-out clean for a sleek look.</p>
                            <h2 id="p3"></h2>
                        </button>
                    </div>

                    <div class="options-grid hidden-option">
                        <button class="button-option" onclick="redirectBooking(4)">
                            <h1>Headlight Polish</h1>
                            <p class="button-option-text">Enhance your night driving visibility with our Headlight
                                Polishing. Clearing up headlights without the fuss.</p>
                            <h2 id="p4"></h2>
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>


</body>

<!-- Script imports for teachable machine. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>

<script>
    //Sends user to booking page.
    function redirectBooking(buttonId) {
        if ("<%= username %>") {
            window.location.href = '/booking?selectedButton=' + buttonId;
        }
        else {
            window.location.href = '/login';
        }
    }

    //Calls showLabel(); function when page is loaded.
    showLabel();

    function moveUploadImage() {
        const upload = document.getElementById("upload-image-container");
        upload.classList.add("move-image-upload");
    }

    //Displays introductory text.
    function showLabel() {
        const label = document.getElementById("label-container");
        label.classList.add("show-label");
    }

    //Hides introductory text.
    function hideLabel() {
        const label = document.getElementById("label-container");
        label.classList.remove("show-label");
    }

    //Displays image on screen and allows image to be pressed as button.
    //When button is pressed, user is prompted to select a file.
    var loadFile = function (event) {
        if (document.getElementById("big-grid").visibily !== 'hidden') {
            moveUploadImage();
            document.getElementById("big-grid").removeAttribute('hidden');
        }

        //Hides introductory text when file is uploaded
        hideLabel();

        var image = document.getElementById("uploadedImage");
        document.getElementById("invisibleButton").style.cursor = "pointer";

        if (!image) {
            image = document.createElement("img");
            image.id = "uploadedImage";
            image.className = "uploadImg";
            document.querySelector('.imgUploadDiv').appendChild(image);
        }

        image.src = URL.createObjectURL(event.target.files[0]);
        image.style.display = "block";
        document.getElementById("invisibleButton").disabled = false;
        document.getElementById("imgLabel").style.display = "none";

        //Automatically runs image through API model using init(); function.
        init();
    };

    var handleButtonClick = function () {
        document.getElementById("img").click();
        hideOptions();
        hideLabel();
    };

    //URL for our trained teachable machine model.
    const URLTeachable = "https://teachablemachine.withgoogle.com/models/dy0VvIqtW/";

    //Variables used in init(); function. 
    let model, labelContainer, maxPredictions;

    //Imported function from teachable machine to run model.
    async function init() {

        const modelURL = URLTeachable + "model.json";
        const metadataURL = URLTeachable + "metadata.json";

        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) {
            labelContainer.appendChild(document.createElement("div"));
        }
        predictFromImage();
    }

    //Hides the price selection buttons.
    function hideOptions() {
        const options = document.querySelectorAll(".options-grid");
        options.forEach(option => {
            option.classList.remove('show-option');
        });
    }

    //Updates the prices for the price selection buttons.
    function updateOptions() {
        const options = document.querySelectorAll(".options-grid");
        options.forEach(option => {
            option.classList.add('show-option');
        });
    }

    //Function to predict from the displayed image.
    async function predictFromImage() {
        const imageElement = document.getElementById("uploadedImage");
        if (imageElement) {
            let highest = -1;
            let vtype = "";
            const prediction = await model.predict(imageElement);
            for (let i = 0; i < maxPredictions; i++) {
                if (prediction[i].probability.toFixed(2) > highest) {
                    highest = prediction[i].probability.toFixed(2);
                    vtype = prediction[i].className;
                }
            }
            updateOptions();
            showLabel();
            updatePrice(vtype);
            labelContainer.style.fontSize = "40px";
            labelContainer.style.fontWeight = "bold";
            labelContainer.innerHTML = "Your vehicle is a " + vtype;

        } else {
            alert("Image element not found.");
        }
    }

    //Displays prices for each type of vehicle.
    function updatePrice(vtype) {
        let factor = 0;
        let p1 = document.getElementById("p1");
        let p2 = document.getElementById("p2");
        let p3 = document.getElementById("p3");
        let p4 = document.getElementById("p4");

        if (vtype == "Sedan") {
            factor = 1;
        }
        else if (vtype == "Truck") {
            factor = 2;
        }
        else if (vtype == "SUV") {
            factor = 1.5;
        }
        //Case for minivan.
        else {
            factor = 1.75;
        }

        p1.innerHTML = "$" + factor * 100;
        p2.innerHTML = "$" + factor * 100;
        p3.innerHTML = "$" + factor * 200;
        p4.innerHTML = "$" + factor * 50;
    }
</script>

<style>
    /* "@media" is used to ensure the elements on the page resize properly within the user's screen size. */
    @media (max-width: 1764px) {
        .options-grid-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 90%;
            padding-right: 5vw;
        }
    }

    @media (min-width: 1765px) {
        .options-grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 30px;
            max-width: 750px;
            margin-left: 100%;
        }
    }
</style>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>